{% extends 'core/base.html' %}
{% load i18n humanize custom_filters %}
{% block title %}{% trans 'Property Type Average Prices' %}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 text-center">Property Average Prices</h1>
    <div class="card bg-dark">
        {% for average_price in average_prices %}
            <div>
                <p>Date: {{ average_price.date | date:"d-m-Y" }}</p>
                <p>Fk: {{ average_price.individual_average_prices.0 | floatformat:2 | intcomma }} €</p> <!-- Accessing the first value of the array -->
                <p>Maklar: {{ average_price.individual_average_prices.1 | floatformat:2 | intcomma }} €</p> <!-- Accessing the second value of the array -->
                <p>Lyyski: {{ average_price.individual_average_prices.2 | floatformat:2 | intcomma }} €</p> <!-- Accessing the third value of the array -->
                <p>{% trans 'Overall' %}: {{ average_price.overall_average_price | floatformat:2 | intcomma }} €</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
