{% extends 'core/base.html' %}
{% load i18n humanize custom_filters %}
{% block title %}{% trans 'Welcome!' %}{% endblock %}

{% block content %}

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow bg-warning text-dark fade show rounded m-2" role="alert">
        <button type="button" class="close small" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
{% endfor %}

<style>
    .pagination.pagination-dark .page-link {
      background-color: #343a40;
      color: #fff;
      border-color: #343a40;
    }
  
    .pagination.pagination-dark .page-link:hover {
      background-color: #23272b;
    }
  
    .pagination.pagination-dark .page-item.active .page-link {
      background-color: #007bff;
      border-color: #007bff;
    }

    .paginator-container {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 650px) {
        .pagination.pagination-dark .page-link {
          font-size: 10px;
          padding: 5px 7px;
        }
      }


        /* Existing styles */
        .embed-responsive.embed-responsive-16by9 .house.vr_img {
          /* Add or modify CSS properties for house.vr_img class */
          /* Example: Change the border color */
          
          /* Example: Adjust the width and height */
          width: 100%;
          
          /* Example: Add a box shadow */

          
          /* Example: Center the content */

      }

          /* Add this custom CSS */
    .row.flex {
        display: flex;
        flex-wrap: wrap;
        
    }

    .col-md-6.flex {
        display: flex;
        flex-direction: column;
    }

    .card.flex {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

     /* Add this custom CSS */
     .card-body.flex {
        flex-grow: 1;
    }

    .toggle-button-container {
        display: flex;
        justify-content: center;
        margin-top: auto; /* This will push the button to the bottom */

    }

    .modal-body::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
      .modal-body {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    
  </style>

<div class="container">

    <div class="paginator-container mt-3">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-dark">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
              </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if num == page_obj.number %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>


      <div class="row flex">
        {% for house in page_obj %}
            <div class="col-md-6 flex">
                <div class="card bg-dark p-2 my-2 rounded shadow text-white flex">
                    <div class="row h-100">
                        <div class="col-xl-6">
                            <div class="m-2">
                                <a href="{{ house.link }}"><h4>{{ house.name|truncatechars:30 }}</h4></a>
                                {% if house.price == "Anbud" %}
                                    <p>Price: {{ house.price}}</p>
                                {% else %}
                                    <p>Price: {{ house.price|intcomma }} 
                                    </p>
                                {% endif %}
                                <p>Address: {{ house.address }}</p>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <img src="{{ house.img }}" alt="" class="mt-1 rounded shadow" style="width: 100%; height: 100%; object-fit: cover;" loading="lazy"/>
                        </div>
                    </div>

                    <!-- Add this -->
                    <button type="button" class="btn btn-primary mt-3 mb-2" data-bs-toggle="modal" data-bs-target="#descriptionModal{{ forloop.counter }}">
                        Toggle Description
                    </button>
                </div>
            </div>

            <!-- Add this -->
            <div class="modal fade" id="descriptionModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="descriptionModalLabel{{ forloop.counter }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content bg-dark">
                        <div class="modal-body">
                          <button type="button" class="btn btn-sm btn-primary mb-3 w-100" data-bs-dismiss="modal" aria-label="Close">{% trans 'Close' %}</button> 
                            {{ house.description|remove_text:'<button class="button singel-object__show-more">'|remove_text:"Visa hela beskrivningen"|safe }}
                        </div>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:2 and not forloop.last %}
                </div><div class="row flex">
            {% endif %}

        {% endfor %}
    </div>
  
    <div class="paginator-container my-3">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-dark">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
              </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if num == page_obj.number %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>

{% endblock %}
