{% extends 'core/base.html' %}
{% load i18n humanize custom_filters %}

{% block title %}{% trans 'Property Type Average Prices' %}{% endblock %}

{% block content %}
<div class="container">

    {% if house %}

    <div class="p-3 my-2 bg-secondary rounded">
        <a href="{% url 'core:index' %}" class="btn-primary btn-sm">Back</a>
        <a href="{{ house.link }}" class="btn-primary btn-sm">Link</a>
    </div>
    
    <div class="bg-secondary rounded p-3">

        <h2>{{ house.name }}</h2>
        <p>{{ house.address }} - {{ house.price }}</p>
        <div class="card bg-dark">
            <div class="card-body">

                <div id="imageGallery" class="carousel slide card-img-top" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for img_link in house.high_img|extract_image_links %}  <!-- Use the custom filter here -->
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ img_link }}" class="d-block w-100" alt="Image">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#imageGallery" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#imageGallery" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


                {{ house.description|remove_text:'<button class="button singel-object__show-more">'|remove_text:"Visa hela beskrivningen"|safe}}
    

            </div>
        </div>
        {% else %}
            <p>No matching house found.</p>
        {% endif %}
        

{% endblock %}
