{% extends 'core/base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans 'Change Done' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-5 text-dark">
        <div class="card-header">
        {% trans 'Change Password Done!' %}
        </div>
        <div class="card-body">
            <p>{% trans 'Your password is now changed.' %}</p>
            <a href="{% url 'core:index' %}" class="btn btn-primary btn-sm">{% trans 'Back' %}</a>
        </div>
    </div>
</div>
{% endblock %}
