{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Welcome!' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-5 text-dark">
        <div class="card-header">
            {% trans 'Password Reset' %}
        </div>
        <div class="card-body">
            {% trans 'We have sent you an e-mail. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.' %}
        </div>
    </div>
</div>
{% endblock %}
