{% load static i18n %}

<style>

    #title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #title {
        width: fit-content;
    }

    .user-dropdown .dropdown-menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 100% !important;
      }

      .dropdown-item:hover {
        background-color: #1D2124;
        border-radius: .2rem;
      }

</style>

<header class="p-2 bg-secondary text-white">
    <div class="d-flex flex-wrap justify-content-center align-items-center w-100">

        <div id="title-container" class="w-100">
        <a href="{% url 'core:index' %}" id="title" class="h4 my-auto my-2 title text-white text-center">{% trans 'Åland House Market' %}</a>
        </div>
            <!-- Links -->
            <div class="d-flex justify-content-end align-items-center my-auto" style="max-width: fit-content;">
                    <!-- If not logged in, login button-->
                    {% if request.user.is_authenticated %}
                        
                        {% if request.path != '/profile/' %} <!-- Add this line -->
                            <a href="{% url 'account_email' %}" class="btn btn-primary btn-sm mx-1 my-1">{{ request.user.username|truncatechars:14 }}</a>
                        {% endif %}                            
                        <!-- Nav burger-->
                        <a class="btn  btn-primary btn-sm mx-1 my-1" data-toggle="collapse" href="#collapseNav" role="button" aria-expanded="false" aria-controls="collapseNav">
                            &#9776;
                        </a>

                        <a href="{% url 'account_logout' %}" class="small text-muted mx-1" title="{% trans 'Click to logout!' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-power" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M7 6a7.75 7.75 0 1 0 10 0" />
                                <path d="M12 4l0 8" />
                              </svg>
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-primary btn-sm mx-2 my-1">{% trans 'Login' %}</a>
                        <a href="{% url 'account_signup' %}" class="btn btn-primary  btn-sm mx-2 my-1">{% trans 'Signup' %}</a>
                    {% endif %}

                    <div id="google_translate_element"></div>


                    {% get_current_language as LANGUAGE_CODE %}
                    <div class="language-selector">
                        <img src="{% static 'flags/' %}{{ LANGUAGE_CODE }}.svg" class="language-icon rounded img-fluid h-100 ml-2 user-select-none" alt="{{ LANGUAGE_CODE }}" width="40" height="30">
                        <form id="language-form" action="{% url 'set_language' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ redirect_to }}">
                            
                            
                            <select class="mx-1 text-center" name="language" id="language-select">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option class="bg-dark text-light" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>{% trans language.code %}</option>
                                {% endfor %}
                            </select>

                            
                        </form>
                    </div>
                    
                    
                    <script>
                        document.getElementById('language-select').addEventListener('change', function() {
                            document.getElementById('language-form').submit();
                        });
                    </script>
                    
                      
            </div>

        </div>

    {% if request.user.is_authenticated %}
    <div class="collapse" id="collapseNav">
        <div class="d-flex col-sm-auto justify-content-center align-items-center">


            <div class="dropdown">
                <button class="btn btn-dark btn-sm mx-1 my-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% trans 'Markets' %}
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark mt-1" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item text-light" href="{% url 'pages:maklar' %}">Maklar</a>
                  <a class="dropdown-item text-light" href="{% url 'pages:fk' %}">Fk</a>
                  <a class="dropdown-item text-light" href="{% url 'pages:lyyski' %}">Lyyski</a>
                  <a class="dropdown-item text-light" href="{% url 'pages:aktia' %}">Aktia</a>
                </div>
              </div>

              
            <div class="dropdown">
                <button class="btn btn-dark btn-sm mx-1 my-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% trans 'Tools' %}
                </button>
                <div class="dropdown-menu dropdown-menu-left bg-dark mt-1" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item text-light" href="{% url 'pages:analytics' %}">{% trans 'Analytics' %}</a>
                  <a class="dropdown-item text-light" href="{% url 'pages:form' %}">{% trans 'Form' %}</a>
                  <a class="dropdown-item text-light" href="#"> {% trans 'History' %}</a>
                </div>
              </div>

            <a href="" class="p-2 btn-sm text-muted ">{% trans 'Contact' %}</a>
        </div>
    </div>
    {% endif %}
</header>
